name: C Pattern Program CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install GCC
      run: sudo apt-get update && sudo apt-get install -y gcc

    - name: Compile PATT_1.c
      run: gcc 1_PATTERN_C/PATT_1.c -o PATT_1_executable

    - name: Run PATT_1 program
      run: ./PATT_1_executable
